<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Choose Type</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <img style="margin: auto; height: 50%; display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;" src="./../../assets/icon/logo.svg" alt=""> -->

  <ion-modal [isOpen]="isStepModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="closeStepModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <img style="height: 100%; width: 100%;" src="./../../../assets/data/steps.jpg" alt="" srcset="">
        <ion-button color="danger" style="position: absolute; top: 581px; left: 30px; " (click)="openAuth()" expand="block" shape="round">
          <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
          Next
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="6" sizeMd="12" sizeSm="12">
        <ion-card style="--background: #39B5E0; height:100px" (click)="BookForYear()" class="animate__animated animate__bounceInLeft animate__delay-1s	2s">
          <ion-card-header>
            
            <ion-card-title class="ion-text-center" color="light"> Book for year</ion-card-title>
            <ion-button color="light" fill="clear" expand="full" (click)="BookForYear()">
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
              Continue
            </ion-button>
          </ion-card-header>
          <ion-card-content>
            
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col sizeLg="6" sizeMd="12" sizeSm="12">
        <ion-card style="--background: #EFA3C8; height: 100px;" (click)="BookForMonth()" class="animate__animated animate__bounceInLeft animate__delay-2s	2s">
          <ion-card-header>
            <ion-card-title color="light" class="ion-text-center"> Book for month</ion-card-title>
            <ion-button color="light"  fill="clear" expand="full" (click)="BookForMonth()">
              <ion-icon  slot="end" name="arrow-forward"></ion-icon>
              Continue
            </ion-button>
          </ion-card-header>
          <ion-card-content>
           
          </ion-card-content>
        </ion-card>
      </ion-col>


      <ion-col sizeLg="6" sizeMd="12" sizeSm="12">
        <ion-card style="--background: #03C988; height: 100px;" (click)="BookForWeek()" class="animate__animated animate__bounceInLeft animate__delay-3s	3s">
          <ion-card-header>
            <ion-card-title color="light" class="ion-text-center"> Book for week</ion-card-title>
            <ion-button color="light"  fill="clear" expand="full" (click)="BookForWeek()">
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
              Continue
            </ion-button>
          </ion-card-header>
          <ion-card-content>
            
          </ion-card-content>
        </ion-card>


      </ion-col>
      <ion-col sizeLg="6" sizeMd="12" sizeSm="12">
        <ion-card style="--background: #009EFF; height: 100px;"  (click)="BookForDay()" class="animate__animated animate__bounceInLeft animate__delay-4s	4s">
          <ion-card-header>
            <ion-card-title color="light" class="ion-text-center"> Book for day</ion-card-title>
            <ion-button color="light" fill="clear" expand="full" (click)="BookForDay()">
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
              Continue
            </ion-button>
          </ion-card-header>
          <ion-card-content>
            
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col sizeLg="12" sizeSm="12">
        <ion-card style="--background: #B08BBB; height: 100px;" (click)="BookForLife()" class="animate__animated animate__bounceInLeft animate__delay-5s	5s">
          <ion-card-header>
            <ion-card-title color="light"  class="ion-text-center"> Book for Life</ion-card-title>
            <ion-button color="light"  fill="clear" expand="full" (click)="BookForLife()">
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
              Continue
            </ion-button>
          </ion-card-header>
          <ion-card-content>
            
          </ion-card-content>
        </ion-card>



      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>