<ion-header>
  <ion-toolbar color="primary">
    <ion-title> {{"THIRD-PAGE.title" | translate}} </ion-title>
    <ion-button fill="clear" slot="end" (click)="openLanguagePopOver($event)">
      <ion-icon color="light" slot="start" name="planet"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content mode="ios">
  <!-- <a href="https://web.whatsapp.com/send?text=www.google.com" data-text="Take a look at this awesome website:" class="wa_btn wa_btn_s" >Share1</a> -->
  <a id="sharelink" href="whatsapp://send?text=www.google.com" data-text="Take a look at this awesome website:" class="wa_btn wa_btn_s" >Share on whatsapp</a>

  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col style="margin-top:10px;" sizeLg="7" sizeMd="12" sizeSm="12" offsetSm="3" color="light">
        <ion-text class="ion-margin-top" color="dark">
          <h5 style="font-weight: 500; color: white;"> {{"THIRD-PAGE.question" | translate}} </h5>
        </ion-text>
        <ion-list style="margin-top:30px;">
          <ion-item detail (click)="openSelectPage('Yellow')">
            <ion-label> <ion-badge color="warning" mode="ios">YELLOW</ion-badge>
              <p style="float: right;"> {{yellowOptionSelected || "Click to select"}}</p></ion-label>
          </ion-item>
          <ion-item  detail (click)="openSelectPage('Orange')">
            <ion-label> <ion-badge style="--background: orange;" mode="ios">ORANGE</ion-badge>  <p style="float: right;">{{orangeOptionSelected || "Click to select"}}</p></ion-label>
          </ion-item>
          <ion-item detail (click)="openSelectPage('Red')">
            <ion-label> <ion-badge color="danger" mode="ios">RED</ion-badge> <p style="float: right;">{{redOptionSelected || "Click to select"}}</p></ion-label>
          </ion-item>

          <ion-item detail (click)="openSelectPage('White')">
            <ion-label> <ion-badge color="light" mode="ios">WHITE</ion-badge> <p style="float: right;">{{whiteOptionSelected || "Click to select"}}</p></ion-label>
          </ion-item>

          <ion-item detail (click)="openSelectPage('Green')">
            <ion-label> <ion-badge color="success" mode="ios">GREEN</ion-badge> <p style="float: right;"> {{greenOptionSelected || "Click to select"}} </p></ion-label>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
