<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="auth"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-grid fixed>
    <ion-row>
      <ion-col sizeLg="4" offsetLg="4" sizeSm="12" sizeXs="12">
        <ion-text class="ion-text-center" color="success">
          <h4>We have sent you a verification code on your mobile.</h4>
        </ion-text>
        <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:6}"></ng-otp-input>

        <ion-button expand="full" color="success" (click)="Submit()">
          <ion-icon slot="end" name="chevron-forward" color="success"></ion-icon>
          Login
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
  
  </ion-toolbar>
</ion-footer>