<ion-header>
  <ion-toolbar>
    <ion-title> {{tag}} </ion-title>
    <ion-button (click)="onDismiss()" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="close" slot="end"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid fixed>
  <ion-row>
    <ion-col sizeLg="6" offsetLg="3" sizeSm="12">
      <ion-list>
        <ion-list-header>
          <ion-searchbar placeholder="Search" [(ngModel)]="relativeFilter.value" inputmode="text" type="text"  [debounce]="250" showCancelButton="always"></ion-searchbar>

        </ion-list-header>
        <ion-item *ngFor="let item of relatives | filterBy: relativeFilter" (click)="onDismissByValue(item)">
          <ion-label> {{item.value}} </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
