.title{
    margin-top: 130px;
        font-size: 40px;
    font-weight: 900;
    font-style: italic;
}

.mobileInput{
    color: white;
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    height: 30px;
    padding: 20px;
    background-color: #141A31;

}