<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Complete Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Bonus Book For you</ion-label>
    </ion-list-header>

    
   
  </ion-list>
  <ion-slides  style="height: 350px; width: auto; background-color: lightgrey;" mode="ios" pager="ios" scrollbar="ios">
    <ion-slide >
    <img style="height: 350px; width: auto;" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5adcab162041559.63cf68c4f0405.jpg" alt="" srcset="">
    </ion-slide>
    <ion-slide >
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5adcab162041559.63cf68c4f0405.jpg" alt="" srcset="">
      </ion-slide>
      <ion-slide >
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5adcab162041559.63cf68c4f0405.jpg" alt="" srcset="">
        </ion-slide>
        <ion-slide >
          <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5adcab162041559.63cf68c4f0405.jpg" alt="" srcset="">
          </ion-slide>
  </ion-slides>
  <!-- <ion-slides   style="height: 200px; width: auto;" [options]="slides" mode="ios" pager="ios" scrollbar="ios">
    <ion-slide *ngFor="let item of bonusBooks" >
      <img [src]="item.bookImage" />

    </ion-slide>
  </ion-slides> -->
  <ion-list *ngIf="!isTaskCompleted">
    <ion-list-header>
      <ion-label>Locked Books For you</ion-label>
    </ion-list-header>
    <ion-button *ngIf="!isTaskCompleted" (click)="presentAlertConfirm()" expand="block">
      Complete task to unlock
    </ion-button>

    <ion-slides style="height: 200px; width: auto;"  [options]="slides" mode="ios" pager="ios" scrollbar="ios" [hidden]="!isTaskCompleted">
      <ion-slide *ngFor="let item of books" >
        <img [src]="item.bookImage" />
      </ion-slide>
    </ion-slides>

  </ion-list>

  <ion-list *ngIf="isTaskCompleted">
    <ion-list-header>
      <ion-label>Unlocked Books For you</ion-label>
    </ion-list-header>
    <ion-button *ngIf="!isTaskCompleted" (click)="presentAlertConfirm()" expand="block">
      Complete task to unlock
    </ion-button>

    <ion-slides  (click)="downloadBook()" style="height: 200px; width: auto;" [options]="slides" mode="ios" pager="ios" scrollbar="ios" [hidden]="!isTaskCompleted">
      <ion-slide  *ngFor="let item of books">
        <img [src]="item.bookImage" />

      </ion-slide>
    </ion-slides>
  </ion-list>

</ion-content>
