<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Complete Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Bonus Book For you</ion-label>
    </ion-list-header>
  </ion-list>
  <ion-grid fixed>
    <ion-row>
      <ion-col sizeLg="6" sizeSm="12" offsetLg="3">
        <h1 *ngIf="showTimer" class="counter"> 00:{{count}} </h1>
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides   style="height: 100%; width:100%; background-color: lightgrey;" [options]="slides" mode="ios" pager="ios" scrollbar="ios">
    <ion-slide centeredSlides="true" zoom="true" class="image-slider" loop="true" slidesPerView="1" *ngFor="let item of bonusBooks" >
      <img style="max-width:100%; text-align: center; max-height:100%;" [src]="item.bookImage" />
      
    </ion-slide>
  </ion-slides>
  <ion-list *ngIf="!isTaskCompleted">
    <ion-list-header>
      <ion-label>Locked Books waititng for you</ion-label>
    </ion-list-header>
    <ion-button *ngIf="!isTaskCompleted" (click)="presentAlertConfirm()" expand="block">
      Complete task to unlock
    </ion-button>

    <ion-slides style="height: 200px; width: auto;"  [options]="slides" mode="ios" pager="ios" scrollbar="ios" [hidden]="!isTaskCompleted">
      <ion-slide *ngFor="let item of books" >
        <img [src]="item.bookImage" />
      </ion-slide>
    </ion-slides>

  </ion-list>

  <ion-list *ngIf="isTaskCompleted">
    <ion-list-header>
      <ion-label>Unlocked Books For you</ion-label>
    </ion-list-header>
    <ion-button *ngIf="!isTaskCompleted" (click)="presentAlertConfirm()" expand="block">
      Complete task to unlock
    </ion-button>

    <ion-slides  (click)="downloadBook()" style="height: 200px; width: auto;" [options]="slides" mode="ios" pager="ios" scrollbar="ios" [hidden]="!isTaskCompleted">
      <ion-slide  *ngFor="let item of books">
        <img [src]="item.bookImage" />

      </ion-slide>
    </ion-slides>
  </ion-list>

</ion-content>
