<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Final Result</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-grid class="ion-margin-top">
  <ion-row>
    <ion-col style="margin-top:10px;" size="7" color="light">
      </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
  <ion-button expand="full" color="success" (click)="getList()" fill="clear" size="large" >
    <ion-icon slot="end" name="chevron-forward" color="success"></ion-icon>
    Next
  </ion-button>
  </ion-toolbar>
</ion-footer>