<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Please provide the details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >

<ion-grid class="ion-margin-top">
  <ion-row>
    <ion-col style="margin-top:10px;" sizeLg="7" sizeSm="12" color="light">
 
      <ion-list style="margin-top:30px;" color="primary">
        
          <ion-radio-group (ionChange)="ageEvent($event)"  name="auto" value="above18">
            <ion-list-header>
              <ion-label>Age</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>⬆Above 18 years</ion-label>
              <ion-radio value="above18"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>⬇Below 18 years</ion-label>
              <ion-radio value="below18"></ion-radio>
            </ion-item>
          </ion-radio-group>
        

          <ion-radio-group (ionChange)="genderEvent($event)"  name="auto" value="male">
            <ion-list-header>
              <ion-label>Gender</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>Male 🙋‍♂️</ion-label>
              <ion-radio value="male"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Female 🙋‍♀️</ion-label>
              <ion-radio value="female"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Other</ion-label>
              <ion-radio value="other"></ion-radio>
            </ion-item>
          </ion-radio-group>
      </ion-list>

      
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input [(ngModel)]="email"></ion-input>
      </ion-item>

   <ion-item>
    <ion-label>Occupation</ion-label>
    <ion-select  value="Health Care" multiple="false" placeholder="Select Occupation">
      <ion-select-option value="peperoni">Health Care</ion-select-option>
      <ion-select-option value="hawaii">Sports</ion-select-option>
      <ion-select-option value="hawaii">Education</ion-select-option>
      <ion-select-option value="hawaii">Civil</ion-select-option>
      <ion-select-option value="hawaii">Sales</ion-select-option>
      <ion-select-option value="hawaii">Services</ion-select-option>
      <ion-select-option value="hawaii">Social</ion-select-option>
    </ion-select>
   </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
  <ion-button expand="full" color="success" (click)="submit()" fill="clear" size="large" >
    <ion-icon slot="end" name="chevron-forward" color="success"></ion-icon>
    Next
  </ion-button>
  </ion-toolbar>
</ion-footer>