<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Please provide the details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-modal [isOpen]="isAbove18Open">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="closeAbove18()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <img style="height: 100%; width: 100%;" src="./../../../assets/data/Congratualtions-Supremo-without-button.jpg" alt="" srcset="">
            <a style="display: none;" id="sharelink" href="http://api.whatsapp.com/send?phone=918080794699&text=I am Interested to know!" class="wa_btn wa_btn_s" #btnB>Share on whatsapp</a>
        <!-- <img style="height: 100%; width: 100%;" src="./../../../assets/Supremo-vertical2.jpg" alt="" srcset=""> -->
        <ion-button color="none" style="background-image: url('./../../assets/data/button.png');
  background-size: cover; position: absolute; width: 270px; height: 70px; top: 581px; left: 30px;" (click)="openWhatsappB(btnB)" >
    
  </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>



  <ion-modal [isOpen]="isBelow18Open">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="closeBelow18()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <a style="display: none;" id="sharelink" href="http://api.whatsapp.com/send?phone=918999679144&text=I am Interested to know!" class="wa_btn wa_btn_s" #btnB>Share on whatsapp</a>
  <img style="height: 100%; width: 100%;" src="./../../../assets/data/Congratualtions-MIT-without-button.jpg" alt="" srcset="">
  <ion-button color="none" style="background-image: url('./../../assets/data/button.png');
  background-size: cover; position: absolute; width: 270px; height: 70px; top: 581px; left: 30px;" (click)="openWhatsappB(btnB)" >
    
  </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
<ion-grid class="ion-margin-top">
  <ion-row>
    <ion-col style="margin-top:10px;" sizeLg="7" offset-lg="2" sizeSm="12" color="light">
 
      <ion-list style="margin-top:30px;" color="primary">
        
          <ion-radio-group (ionChange)="ageEvent($event)"  name="auto" value="above18">
            <ion-list-header>
              <ion-label>Age</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>⬆Above 18 years</ion-label>
              <ion-radio value="above18"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>⬇Below 18 years</ion-label>
              <ion-radio value="below18"></ion-radio>
            </ion-item>
          </ion-radio-group>
        

          <ion-radio-group (ionChange)="genderEvent($event)"  name="auto" value="male">
            <ion-list-header>
              <ion-label>Gender</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>Male 🙋‍♂️</ion-label>
              <ion-radio value="male"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Female 🙋‍♀️</ion-label>
              <ion-radio value="female"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Other</ion-label>
              <ion-radio value="other"></ion-radio>
            </ion-item>
          </ion-radio-group>
      </ion-list>

      
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input [(ngModel)]="email"></ion-input>
      </ion-item>

   <ion-item>
    <ion-label>Occupation</ion-label>
    <ion-select (ionChange)="occupationEvent($event)" value="Health Care" multiple="false" placeholder="Select Occupation">
      <ion-select-option value="Health Care">Health Care</ion-select-option>
      <ion-select-option value="Sports">Sports</ion-select-option>
      <ion-select-option value="Education">Education</ion-select-option>
      <ion-select-option value="Civil">Civil</ion-select-option>
      <ion-select-option value="Sales">Sales</ion-select-option>
      <ion-select-option value="Services">Services</ion-select-option>
      <ion-select-option value="Social">Social</ion-select-option>
    </ion-select>
   </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
  <ion-button expand="full" color="success" (click)="submit()" fill="clear" size="large" >
    <ion-icon slot="end" name="chevron-forward" color="success"></ion-icon>
    Next
  </ion-button>
  </ion-toolbar>
</ion-footer>