<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Question <strong style="font-size: 30px; font-weight: 700 ;">02</strong><span style="color: #92949c;">/05</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-grid class="ion-margin-top">
  <ion-row>
    <ion-col style="margin-top:10px;" size="7" color="light">
      <ion-text  class="ion-margin-top"  color="primary">
        <h5 style="font-weight: 500;">Write a word to describe each one of the following.</h5>
      </ion-text>
      <ion-list style="margin-top:30px;" >
        <ion-item detail (click)="openSelectPage('DOG')">
          <ion-label> DOG - {{dogOptionSelected || "Click to select"}}</ion-label>
        </ion-item>
        <ion-item detail (click)="openSelectPage('CAT')">
          <ion-label> CAT - {{catOptionSelected || "Click to select"}}</ion-label>
        </ion-item>
        <ion-item detail (click)="openSelectPage('RAT')">
          <ion-label> RAT - {{ratOptionSelected || "Click to select"}}</ion-label>
        </ion-item>

        <ion-item detail (click)="openSelectPage('COFFEE')">
          <ion-label> COFFEE - {{coffeeOptionSelected || "Click to select"}}</ion-label>
        </ion-item>

        <ion-item detail (click)="openSelectPage('SEA')">
          <ion-label> SEA - {{seaOptionSelected || "Click to select"}}</ion-label>
        </ion-item>

      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
  <ion-button expand="full" color="success" (click)="getList()" fill="clear" size="large" >
    <ion-icon slot="end" name="chevron-forward" color="success"></ion-icon>
    Next
  </ion-button>
  </ion-toolbar>
</ion-footer>