<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ "SECOND-PAGE.title" | translate}}</ion-title>
    <ion-button fill="clear" slot="end" (click)="openLanguagePopOver($event)">
      <ion-icon color="light" slot="start" name="planet"></ion-icon>
    </ion-button>
  </ion-toolbar>
  
</ion-header>
<ion-content mode="ios">

<ion-grid class="ion-margin-top">
  <ion-row>
    <ion-col style="margin-top:10px;" sizeLg="7" sizeSm="12" color="light">
      <ion-text  class="ion-margin-top"  color="dark">
        <h5 style="font-weight: 500;"> {{"SECOND-PAGE.question" | translate}} </h5>
      </ion-text>
      <ion-list style="margin-top:30px;" >
        <ion-item detail (click)="openSelectPage('DOG')">
          <ion-label class="ion-text-wrap"> DOG <span> {{dogicon}}</span> <p style="float: right;">{{dogOptionSelected || "Click to select"}}</p></ion-label>
        </ion-item>
        <ion-item detail (click)="openSelectPage('CAT')">
          <ion-label class="ion-text-wrap"> CAT {{caticon}} <p style="float: right;">{{catOptionSelected || "Click to select"}}</p></ion-label>
        </ion-item>
        <ion-item detail (click)="openSelectPage('RAT')">
          <ion-label class="ion-text-wrap"> RAT {{raticon}} <p style="float:right;">{{ratOptionSelected || "Click to select"}}</p></ion-label>
        </ion-item>

        <ion-item detail (click)="openSelectPage('COFFEE')">
          <ion-label class="ion-text-wrap"> COFFEE {{coffeeicon}} <p style="float: right;"> {{coffeeOptionSelected || "Click to select"}}</p></ion-label>
        </ion-item>

        <ion-item detail (click)="openSelectPage('SEA')">
          <ion-label class="ion-text-wrap"> SEA {{seaicon}} <p style="float: right;">  {{seaOptionSelected || "Click to select"}}</p></ion-label>
        </ion-item>

      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
