<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-title>Question <strong style="font-size: 30px; font-weight: 700 ;">01</strong><span style="color: #92949c;">/03</span></ion-title> -->
    <ion-title> {{"FIRST-PAGE.title" | translate}} </ion-title>
    <ion-button fill="clear" slot="end" (click)="openLanguagePopOver($event)">
      <ion-icon color="light" slot="start" name="planet"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content mode="ios">

<ion-grid class="ion-margin-top">
  <ion-row>
    <ion-col style="margin-top:10px;" sizeLg="7" sizeSm="12" color="light">
      <ion-text  class="ion-margin-top"  color="dark">
        
        <h5 style="font-weight: 500; color: white;"> {{ "FIRST-PAGE.question" | translate}} </h5>
      </ion-text>
      <ion-list style="margin-top:30px;" >
        
        
          <ion-item lines="none"  *ngFor="let item of listItems">
            <ion-label>
              {{item.key}} <span>{{item.icon}} </span> 
            </ion-label>
            <ion-range
          min="0" max="100"
          dualKnobs="false" pin="true"
          snaps="true" step="1"
          ticks="true" value="0"
          color="primary"
          (ionChange)="rangeChange($event, item)">
        </ion-range>
          </ion-item>
    
      </ion-list>
    </ion-col>  
  </ion-row>
</ion-grid>

<ion-grid >
  <ion-col style="margin-top:10px;" sizeLg="7" sizeSm="12" color="light">
    <ion-text  class="ion-margin-top"  color="primary">
      <h5 style="font-weight: 500; color: white;">{{ "FIRST-PAGE.note" | translate }}</h5>
      <h6 style="color: white;">{{ "FIRST-PAGE.list-title" | translate }}</h6>
    </ion-text>
    <ion-list style="margin-top:30px;">
        <ion-item lines="none" *ngFor="let item of draggedList">
          
        </ion-item>
    </ion-list>
  </ion-col>
</ion-grid>
</ion-content>
<ion-footer mode="ios">
  <ion-toolbar color="primary">
    <ion-button fill="clear" color="light" size="large"  (click)="getList()">
      <ion-icon slot="start" name="arrow-forward"></ion-icon>
      {{ "FIRST-PAGE.btn" | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>