<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-title>Question <strong style="font-size: 30px; font-weight: 700 ;">01</strong><span style="color: #92949c;">/03</span></ion-title> -->
    <ion-title> {{"FIRST-PAGE.title" | translate}} </ion-title>
    <ion-button fill="clear" slot="end" (click)="openLanguagePopOver($event)">
      <ion-icon color="light" slot="start" name="planet"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content mode="ios">
  <img style="margin: auto; height: 200px; display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;" src="./../../assets/icon/logo.svg" alt="">

<ion-grid class="ion-margin-top">
  <ion-row>
    <ion-col style="margin-top:10px;" sizeLg="6" offsetSm="3" sizeSm="12" color="dark">
      <ion-text class="ion-text-center" class="ion-margin-top"  color="primary">
        
        <h3 style="font-weight: 800; font-size: 20px; text-align: center;"> {{ "FIRST-PAGE.question" | translate}} </h3>
      </ion-text>
      <ion-list style="margin-top:30px;" >
        
        
          <ion-item lines="none"  *ngFor="let item of listItems">
            
            <ion-label style="font-weight: 800;" color="primary">
              {{item.name}} 
            </ion-label>
            <ion-thumbnail>
              <img [src]="item.icon" />
            </ion-thumbnail>
            <ion-range
          min="0" max="100"
          dualKnobs="false" pin="true"
          snaps="true" step="1"
          ticks="true" value="0"
          color="primary"
          (ionChange)="rangeChange($event, item)">
        </ion-range>
          </ion-item>
    
      </ion-list>

      <ion-button style="margin-top: 20px;"  color="primary" size="large" shape="block"  (click)="getList()">
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
        {{ "FIRST-PAGE.btn" | translate }}
      </ion-button>
    </ion-col>  
  </ion-row>
</ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-text color="medium" class="ion-text-center">
      <p>Version 1.0 Developed By Mind Labyrinth.</p>
    </ion-text>
  </ion-toolbar>
</ion-footer>