<ion-header>
    <ion-toolbar>
        <ion-title></ion-title>
        <ion-button fill="clear" slot="end" color="dark" (click)="dismiss()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
   <ion-grid>
    <ion-row>
        <ion-col sizeLg="6" offset-lg="2">
            <img style="height: 100%; width: 100%;" src="./../../../assets/data/Above 18.jpg" alt="" srcset="">
            <a style="display: none;" id="sharelink" href="http://api.whatsapp.com/send?phone=918080794699&text=I am Interested to know!" class="wa_btn wa_btn_s" #btn>Share on whatsapp</a>
        <!-- <img style="height: 100%; width: 100%;" src="./../../../assets/Supremo-vertical2.jpg" alt="" srcset=""> -->
        <ion-button  color="success" style="position: absolute; top: 427px; left: 53px;" (click)="openWhatsapp(btn)" expand="block" shape="round">
          <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
          Whatsapp
        </ion-button>
        </ion-col>
    </ion-row>
   </ion-grid>
<!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
        <ion-icon name="logo-whatsapp">Whatsapp</ion-icon>
    </ion-fab-button>
</ion-fab> -->

</ion-content>
